.app-input-container {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.app-input {
  height: 36px;
  border: 1px solid #949494;
  border-radius: 4px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background: #fff;
}

.app-input,
.option {
  user-select: none;
  cursor: pointer;
}

.app-input > span {
  flex-grow: 1;
}

.app-input > span,
.option > span {
  height: 34px;
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  display: block;
}

.option-container {
  position: absolute;
  background: #fff;
  width: 100%;
  top: 36px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.45);
}

.option {
  height: 34px;
  padding: 0 20px;
}

.option:hover {
  background: rgba(115, 122, 230, 0.1);
}

.option:first-child {
  margin-top: 4px;
}

.chooseFolder {
  padding: 0 20px;
  line-height: 36px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  display: block;
  margin-bottom: 4px;
}

.chooseFolder:hover {
  background: rgba(115, 122, 230, 0.1);
}

.dropdown-button {
  background: none;
  border: none;
  padding: 0;
}

.dropdown-button:focus {
  outline: none;
}

/* Radio button styles */

.radio-option {
  cursor: pointer;
  height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radio-option .radio-icon {
  margin-right: 10px;
}

.app-radio-title {
  font-size: 14px;
  color: #252525;
}

.divider-folder {
  margin: 4px 0px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 0px;
}

/* start styles dark theme */
.dark .app-radio-title {
  color: #fafafa;
}
/*end styles dark theme*/