.affirmativeButton {
  background-color: #737ae6;
  border-radius: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.affirmativeButton:focus {
  background-color: #545cd2;
}

.affirmativeButton:hover {
  background-color: #656de3;
  cursor: pointer;
}

.negativeButton {
  background-color: #d4d4d4;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.negativeButton.disabled {
  pointer-events: none;
}

.negativeButton:focus {
  background-color: #aaaaaa;
}

.negativeButton:hover {
  background-color: #bebebe;
  cursor: pointer;
}

.affirmativeButtonText {
  font-size: 14px;
  font-family: SegoeUI-Semibold;
  color: #ffffff;
  cursor: default;
}

.negativeButtonText {
  font-size: 14px;
  font-family: SegoeUI-Semibold;
  color: #000000;
  cursor: default;
}

.syncing .negativeButton {
  cursor: not-allowed;
}

.affirmativeButton.syncing {
  cursor: not-allowed;
}
