/***********************
 * Context menu styles *
 ***********************/

.context-menu {
  visibility: hidden;
  display: flex;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  width: 180px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10;
  background-color: #fff;
  opacity: 0;
  transform: scale(0.1);
  transform-origin: top left;
  transition: opacity 0.25s, transform 0.25s;
}

.context-menu--active {
  visibility: visible;
  transition: opacity 100ms, transform 100ms;
  transform: scale(1);
  opacity: 1;
}

.context-menu-items {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: inherit;
}

li.context-menu-item {
  display: flex;
  font-size: 14px;
}

li.context-menu-item:focus,
li.context-menu-item:hover {
  background: rgba(115, 122, 230, 0.1);
}

a.context-menu-link {
  font-size: 14px;
  font-family: SegoeUI;
  color: #252525;
  text-decoration: none;
  color: rgb(60, 60, 60);
  padding: 8px 12px;
  flex-grow: 1;
  outline: none;
  display: none;
  height: 34px;
}
a.context-menu-link.active {
  display: block;
}
