@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 15px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 15px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* Sync Header Menu */
.header {
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
  height: 60px;
  background-color: #f6f6f6;
  padding-right: 20px;
  padding-left: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-item {
  top: 0;
  left: 0;
  position: relative;
  height: 60px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* Header Text */

.headerText {
  font-family: SegoeUI-Semibold;
  font-size: 20px;
  color: #010101;
  padding-left: 10px;
  cursor: default;
  font-weight: 600;
}

.headerButton figure {
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0;
  overflow: hidden;
}

.headerButton figure {
  opacity: 1;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.headerButton figure:hover {
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border-radius: 5px;
}

.headerButton figure:active {
  cursor: default;
}

#headerButton-back {
  margin-left: -4px;
}

#header-sync-settings,
#header-user-pass,
#header-more-information {
  display: none;
}

#header-sync-settings .more-icon {
  margin-left: auto;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.tab-area {
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
  height: 600px;
}

.content-area {
  top: 0;
  left: 320px;
  width: 480px;
  position: absolute;
  height: 600px;
  padding: 10px 24px;
}

.side-header {
  top: 0;
  left: 0;
  width: 320px;
  position: relative;
  height: 600px;
  background-color: #eeeeee;
  border-radius: 2px 16px 16px 2px;
}

.category-tree {
  top: 0;
  left: 0;
  width: 320px;
  position: relative;
  height: 416px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
}

.SideheaderButton {
  height: 32px;
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 6px;
}

.SideheaderButton figure {
  width: 20px;
  height: 20px;
  margin: 0px 6px;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.SideheaderButton span {
  color: #010101;
  font-size: 16px;
  padding-left: 10px;
}

.SideheaderButton:hover {
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.SideheaderButton figure:active {
  /* background: rgba(0, 0, 0, 0.3); */
  cursor: pointer;
}

#headerButton-setting {
  margin-top: 20px;
}

.settingOn #headerButton-setting {
  background: rgba(0, 0, 0, 0.05);
}

.usernamePasswordOn #username-password-side-header {
  background: rgba(0, 0, 0, 0.05);
}

#headerButton-setting .badge-icon {
  position: absolute;
  top: 27px;
  left: 110px;
}

.samsungLogo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-image: url('/assets/img/logo32x32.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.header-divider {
  margin: 0px;
  width: 400px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 0px;
}

.header-bottom {
  bottom: 0;
  position: absolute;
  left: 0;
  width: 320px;
  background: #eeeeee;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 16px;
}

.header-bottom #bookmark-manager {
  display: none !important;
}

.side-header-divider {
  top: 0;
  left: 320px;
  margin: 0px;
  height: 600px;
  border-left: 1px solid #e4e4e4;
  border-right: 0px;
  position: absolute;
  z-index: 1;
}

#headerText-main {
  cursor: pointer;
}

#content-bookmark {
  display: none;
}

#content-tabsync {
  display: none;
}

#content-settings {
  /* display: none; */
}

.sync-content {
  position: relative;
}

.header-area {
  padding-left: 10px;
}

.header-area .content-header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  position: relative;
}

.content-header .content-title {
  display: flex;
  align-items: center;
}

.content-title .viewFolderName {
  font-size: 20px;
  color: #010101;
  font-family: SegoeUI-Semibold;
  margin-left: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 240px;
  font-weight: 600;
}

.content-title .viewFolderName.subFolder {
  margin-left: 0;
  width: 230px;
}

.content-header .header-function {
  display: flex;
  position: absolute;
  right: -15px;
}

.content-header .header-function .add-bookmark-btn:hover,
.content-header .header-function .search-btn:hover,
.content-header .header-function .more-options:hover,
.content-header .header-function .chrome-import-btn:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.content-header .header-function span {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  color: #010101;
}

.content-header .header-function > span {
  display: flex;
  align-items: center;
  padding: 5px;
}

.content-header .header-function span:first-child {
  margin-right: 10px;
  position: relative;
}

.content-header .header-function span img {
  vertical-align: middle;
  margin-right: 5px;
}

.content-header .header-function span:last-child img {
  margin-right: 0;
}

.content-header .header-function .search-btn {
  margin-right: 5px;
}

.content-header .header-function .chrome-import-btn .badge-icon {
  position: absolute;
  right: -8px;
  margin: 0;
  top: 0;
}

.syncing .syncLoaderContainer:not(.firstSync) {
  display: block;
}

.progress-status.partial-load + .syncLoaderContainer,
.syncLoaderContainer {
  display: none;
}

.syncLoaderContainer {
  position: absolute;
  top: 44px;
  height: 4px;
  width: 100%;
}

.syncLoaderContainer .syncLoaderBar {
  height: 4px;
  width: 100%;
  background: #cacaca66;
  border-radius: 2px;
  overflow: hidden;
}

.syncLoaderContainer .syncLoaderValue {
  width: 100%;
  height: 100%;
  background-color: #0381fe;
  animation: indeterminateAnimation 2s infinite linear;
  transform-origin: 0% 50%;
}

.menuContent {
  max-height: 525px;
  overflow-y: auto;
  border-radius: 12px;
  background: #fff;
}

.menuContent.noItem {
  height: 525px;
}

.menuContent #fancytree-drop-marker {
  visibility: hidden;
}

.content-syncing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuContent .not-imported,
.search-results .no-result {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.menuContent .not-imported span:last-child {
  font-size: 12px;
  color: #8c8c8c;
}

.menuContent .not-imported span:first-child {
  display: block;
  font-size: 16px;
  color: #4d4d4d;
  margin-bottom: 10px;
}

.syncMenuTree {
  display: flex;
  width: 100%;
}

.syncMenuTree .fancytree-has-children.fancytree-ico-c span.fancytree-icon {
  min-height: 40px;
  margin: 0px;
  width: 20px;
  background-image: url('/assets/img/internet_list_folder.png');
  background-size: contain;
  background-position: center;
}

.menuTreeDiv {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  outline: none;
  width: 100%;
}

.menuTreeDiv .fancytree-plain span.fancytree-node {
  font-size: 14px;
  font-family: SegoeUI;
  color: #252525;
  text-align: left;
  height: 52px;
  line-height: 52px;
  display: flex;
  align-items: center;
  position: relative;
}

.menuTreeDiv .fancytree-plain span.fancytree-node.ui-state-hover,
.mainContent ul.fancytree-container > li > span.fancytree-node.ui-state-active,
.mainContent ul.fancytree-container > li > span.fancytree-node.ui-state-focus {
  background: none;
}

.mainContent.editMode span.checkBox:first-child {
  display: inline-block;
  background-image: url('/assets/img/internet_pc_ic_Checkbox_off.svg') !important;
  height: 32px;
  width: 32px;
  background-size: cover;
  background-position: center;
  margin-right: 15px;
  margin-left: 20px;
  cursor: pointer;
}

.mainContent.editMode ul.fancytree-container > li:has(span.fancytree-selected) .checkBox {
  background-image: url('/assets/img/internet_pc_ic_Checkbox_on.svg') !important;
}

.mainContent.editMode span.reorderIcon {
  display: inline-block;
  background-image: url('/assets/img/internet_pc_ic_Reorder.svg') !important;
  height: 32px;
  width: 32px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-left: 5px;
}

.menuTree {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.menuTree.ui-widget-content {
  background: #eeeeee;
}

.menuTree .fancytree-more-option {
  display: none;
}

.mainContent span.fancytree-expander,
.mainContent span.checkBox,
.mainContent span.reorderIcon {
  display: none;
}

.menuTree ul.fancytree-container {
  padding: 0;
  height: 100%;
}

.menuTree ul.fancytree-container > li > span.fancytree-node {
  background: none;
}

.menuTree ul.fancytree-container > li:first-child {
  /* border-bottom: 1px dashed #979797; */
}

.menuTree .fancytree-container > li:first-child > span.fancytree-node span.fancytree-expander {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0px 6px;
  background-image: url('/assets/img/internet_pc_ic_bookmarks_new.svg');
  background-size: contain;
  background-position: center;
}

.menuTree .fancytree-container > li:nth-child(2) > span.fancytree-node span.fancytree-expander {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0px 6px;
  background-image: url('/assets/img/internet_pc_ic_tabs 1.svg');
  background-size: contain;
  background-position: center;
}

.menuTree .fancytree-container > li > .fancytree-exp-c img.fancytree-more-option,
.menuTree .fancytree-container > li > .fancytree-exp-cl img.fancytree-more-option,
.bookmarks-tree li .fancytree-exp-c span.fancytree-expander,
.bookmarks-tree li .fancytree-exp-cl span.fancytree-expander {
  display: inline-block;
  margin: 0px;
  content: url('/assets/img/internet_pc_ic_drawer_list_shrink.svg');
  background-size: contain;
  background-position: center;
  cursor: pointer;
  position: absolute;
  right: 15px;
}

.menuTree .fancytree-container > li > .fancytree-exp-e img.fancytree-more-option,
.menuTree .fancytree-container > li > .fancytree-exp-el img.fancytree-more-option,
.bookmarks-tree li .fancytree-exp-e span.fancytree-expander,
.bookmarks-tree li .fancytree-exp-el span.fancytree-expander {
  display: inline-block;
  margin: 0px;
  content: url('/assets/img/internet_pc_ic_drawer_list_open.svg');
  background-size: contain;
  background-position: center;
  cursor: pointer;
  position: absolute;
  right: 15px;
}

.menuTree .fancytree-has-children.fancytree-ico-cf span.fancytree-icon.samsung-bookmarks,
.menuTree .fancytree-ico-ef span.fancytree-icon.samsung-bookmarks,
.menuTree .fancytree-ico-cf span.fancytree-icon.samsung-bookmarks {
  min-height: 40px;
  margin: 0px;
  width: 20px;
  background-image: url('/assets/img/internet_list_folder.png');
  background-size: contain;
  background-position: center;
}

.menuTree .fancytree-has-children.fancytree-ico-cf span.fancytree-icon,
.menuTree .fancytree-ico-ef span.fancytree-icon,
.menuTree .fancytree-ico-cf span.fancytree-icon {
  min-height: 40px;
  margin: 0px;
  width: 20px;
  background-image: url('/assets/img/internet_list_folder_chrome.png');
  background-size: contain;
  background-position: center;
}

.menuTree .fancytree-container li span.fancytree-node span.fancytree-icon {
  display: none;
}

.menuTree .fancytree-container ul > li span.fancytree-node > span.fancytree-title {
  color: #010101;
  padding-left: 42px;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 30px);
  text-overflow: ellipsis;
}

.menuTree .fancytree-container li span.fancytree-node img.chromeBadge {
  position: absolute;
  left: 192px;
  top: 5px;
}

.syncMenuTree ul.fancytree-container {
  background-color: #eeeeee;
}

.mainContent {
  outline: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mainContent {
  width: 100%;
}

.mainContent span.fancytree-icon {
  background-image: none;
  margin: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 14px;
}

span.fancytree-drag-source.fancytree-drag-remove {
  opacity: 0.4 !important;
}

.mainContent span.fancytree-icon span.thumbnail {
  font-size: 20px;
  font-family: SegoeUI;
}

.user-pass-content span.thumbnail {
  font-size: 20px;
  font-family: SegoeUI;
  color: #fff;
}

.user-pass-content .favicon-icon-item {
  height: 36px;
  width: 36px;
  margin: 0px;
  line-height: 36px;
  text-align: center;
  border-radius: 14px;
}

.mainContent img.bookmark_entry_image {
  width: 36px;
  height: 36px;
  border-radius: 6px;
}

.mainContent .fancytree-plain span.fancytree-node span.fancytree-title,
.mainContent span.fancytree-node span.fancytree-folder span.fancytree-has-children {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 55px;
  line-height: 55px;
  margin-left: 20px;
  padding: 0;
  border: 0px;
  font-size: 16px;
  color: #010101;
  width: calc(100% - 56px);
  font-family: SegoeUI;
  border-bottom: 1px solid #e4e4e4;
}

.editMode.mainContent .fancytree-plain span.fancytree-node span.fancytree-title {
  width: calc(100% - 93px);
  border-bottom: none;
}

.mainContent .fancytree-container li:last-child span.fancytree-node span.fancytree-title {
  border-bottom: none;
}

.mainContent .fancytree-more-option {
  display: none;
}

.mainContent .fancytree-more-option:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}

.mainContent .fancytree-more-option:active {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.mainContent .fancytree-has-children.fancytree-ico-cf span.fancytree-icon,
.mainContent .fancytree-ico-ef span.fancytree-icon,
.mainContent .fancytree-ico-cf span.fancytree-icon,
.mainContent .fancytree-ico-cf span.fancytree-icon {
  height: 36px;
  margin: 0px;
  width: 36px;
  background-image: url('/assets/img/internet_pc_ic_folder.svg');
  background-size: contain;
  background-position: center;
}

.fancytree-ico-cf span.fancytree-icon:hover {
  background-position: center !important;
}

.mainContent ul.fancytree-container .fancytree-node {
  display: flex;
  align-items: center;
  border-radius: 0;
}

.bookmarks-tree .fancytree-edit-input {
  width: 100% !important;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #c5c5c5;
}

.search-header,
.editBar {
  height: 40px;
  width: 432px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  transform: translateX(100%);
  background: #f6f6f6;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 12px;
}

.search-header .headerButton.back figure {
  margin-right: 50px;
}

.search-header .search-action {
  display: flex;
  align-items: center;
}

.search-header .search-action .form-control {
  width: 296px;
  position: relative;
  margin-bottom: 0;
}

.search-header .form-control input {
  border-radius: 32px;
  border: none;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.06);
}

.search-header .search-input:focus,
.search-header .search-input.typing {
  background: #fcfcfc;
  border: none;
}

.search-header .search-input::placeholder {
  color: #bebebe;
}

.search-header .searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-header .searchIcon {
  right: 12px;
  opacity: 0.3;
}

.search-header .edit-search-btn {
  font-size: 12px;
  cursor: pointer;
  padding-right: 5px;
  margin-left: 20px;
  visibility: hidden;
  display: flex;
  align-items: center;
}

.search-header .edit-search-btn.visible {
  visibility: visible;
}

.search-header .edit-search-btn img {
  margin-right: 5px;
}

.search-header .edit-search-btn span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 35px;
}

.syncEditItem {
  position: relative;
}

.syncEditItem .syncLoaderContainer {
  top: -8px;
}

.search-results {
  display: none;
}

.search-results.show {
  display: block;
  height: 525px;
  overflow-y: auto;
  margin-top: 52px;
  border-radius: 16px;
}

.search-results .result-category {
  display: inline-block;
  color: #8c8c8c;
  margin: 15px 0 10px 12px;
  font-size: 12px;
  font-family: 'SegoeUI-Semibold';
}

.search-results .mainContent {
  border-radius: 16px;
  overflow-x: hidden;
  background: #fff;
}

.search-results ul.fancytree-container {
  border-radius: 5px;
  padding-left: 5px;
}

.search-results .no-result span {
  font-size: 16px;
  color: #4d4d4d;
}

.editBar .headerButton.back {
  display: flex;
}

.editBar .headerButton.back span {
  font-size: 16px;
  font-weight: 600;
  color: #010101;
}

.editBar .editFunc {
  display: flex;
  position: relative;
}

.editBar .editFunc img {
  margin-right: 5px;
}

.editBar .editFunc span {
  margin-right: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.editBar .editFunc .selectItems {
  margin-right: 15px;
}

.editBar .editFunc .more {
  position: absolute;
  right: -15px;
}

.editBar .editFunc .more,
.editBar .editFunc .more img {
  margin-right: 0;
}

.editBar .editFunc span.allSelected img {
  content: url('/assets/img/internet_pc_ic_Command_bar_select all.svg');
}

.editBar .editFunc .pointer {
  cursor: pointer;
}

.syncing .editFunc span {
  pointer-events: none;
  opacity: 0.5;
}

.fancytree-title-container {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 56px);
  padding: 16px 0;
  margin-left: 20px;
  border-bottom: 1px solid #e4e4e4;
}

.fancytree-container li:last-child .fancytree-title-container {
  border-bottom: none;
}

.editMode.mainContent .fancytree-title-container {
  border: none;
}

.mainContent .fancytree-plain span.fancytree-node .fancytree-title-container span.fancytree-title {
  min-height: initial;
  line-height: initial;
  margin-left: 0;
  width: 100%;
  border: none;
}

.mainContent .fancytree-plain span.fancytree-node .fancytree-title-container span.fancytree-url {
  font-family: 'SegoeUI';
  font-size: 12px;
  color: #8c8c8c;
}

span.fancytree-title .search-highlight {
  color: #75b4fb;
}

.menuTree ul.fancytree-container ul {
  padding: 0;
}

.menuTree ul.fancytree-container ul li.level-2 .fancytree-node {
  padding-left: 10px;
}

.menuTree ul.fancytree-container ul li.level-3 .fancytree-node {
  padding-left: 20px;
}

.menuTree ul.fancytree-container ul li.level-4 .fancytree-node {
  padding-left: 30px;
}

.menuTree ul.fancytree-container ul li.level-5 .fancytree-node {
  padding-left: 40px;
}

.menuTree ul.fancytree-container ul li.level-6 .fancytree-node {
  padding-left: 50px;
}

.menuTree ul.fancytree-container ul span.fancytree-node {
  height: 32px;
  line-height: 32px;
  margin: 10px 0;
  border-radius: 6px;
  cursor: pointer;
}

.menuTree ul.fancytree-container ul span.fancytree-node:hover,
.menuTree ul.fancytree-container ul span.fancytree-node.ui-state-active,
.mainContent ul.fancytree-container > li:hover,
.mainContent ul.fancytree-container > li:has(span.fancytree-node.fancytree-selected),
.mainContent.normalMode ul.fancytree-container > li:has(span.fancytree-node.fancytree-active.fancytree-focused) {
  background: rgba(0, 0, 0, 0.05);
}

.mainContent ul.fancytree-container > li > span.fancytree-node:hover,
.mainContent ul.fancytree-container > li > span.fancytree-node.fancytree-selected,
.mainContent.normalMode ul.fancytree-container > li > span.fancytree-node.fancytree-active.fancytree-focused {
  background: none;
}

.settingOn .menuTree ul.fancytree-container ul span.fancytree-node.ui-state-active {
  background: initial;
}

.settingOn .menuTree ul.fancytree-container ul span.fancytree-node.ui-state-active:hover {
  background: rgba(0, 0, 0, 0.05);
}

.menuTree ul.fancytree-container ul span.fancytree-node:hover,
.menuTree ul.fancytree-container ul span.fancytree-node.ui-state-active {
  border-radius: 6px;
}

.fancytree-container span.fancytree-node .fancytree-title {
  font-size: 16px;
  padding: 0 0 0 10px;
  margin: 0;
  color: #010101 !important;
}

.menuTree ul.fancytree-container ul > li:not(:first-child) span.fancytree-node {
  margin-top: 20px;
}

.mainContent ul.fancytree-container {
  padding: 0;
  position: initial;
}

.mainContent ul.fancytree-container > li {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.editMode.mainContent ul.fancytree-container > li {
  padding: 0;
}

.editMode.mainContent ul.fancytree-container > li > span.fancytree-node {
  /* checkbox width(32px) + checkbox margin right(15px) + li margin left (20px) + li margin right(20px) = 87px */
  width: calc(100% - 87px);
  border-bottom: 1px solid #e4e4e4;
  margin-right: 20px;
}

.editMode.mainContent .fancytree-container li:last-child span.fancytree-node {
  border-bottom: none;
}

.context-menu-list {
  border-radius: 6px !important;
}

.context-menu-item.context-menu-icon {
  font-size: 15px;
  padding: 14px 24px !important;
}

.context-menu-separator {
  opacity: 0.5;
  border: 1px dashed #979797;
}

#menuTree ul.fancytree-container ul .fancytree-exp-c.fancytree-submatch span.fancytree-expander,
#menuTree ul.fancytree-container ul .fancytree-exp-cl.fancytree-submatch span.fancytree-expander {
  margin: 0px;
  background-image: url('/assets/img/internet_pc_ic_drawer_list_shrink.svg');
  background-size: contain;
  background-position: center;
}

#menuTree ul.fancytree-container ul .fancytree-exp-e.fancytree-submatch span.fancytree-expander,
#menuTree ul.fancytree-container ul .fancytree-exp-el.fancytree-submatch span.fancytree-expander {
  margin: 0px;
  background-image: url('/assets/img/internet_pc_ic_drawer_list_open.svg');
  background-size: contain;
  background-position: center;
}

#menuTree ul.fancytree-container ul span.fancytree-expander {
  position: absolute;
  right: 15px;
  background-image: none;
}

.ui-sortable-helper {
  border-radius: 16px;
  background: rgba(250, 250, 250, 0.6) !important;
  border: 1px solid #010101;
}

.editMode.mainContent ul.fancytree-container > li.ui-sortable-helper .fancytree-node {
  border: none;
}

.ui-sortable-helper.onBottom {
  position: fixed !important;
  bottom: 0 !important;
  top: initial !important;
}

.ui-sortable-helper.onTop {
  position: fixed !important;
}

.content-area .notifyContainer {
  visibility: hidden;
  position: absolute;
  bottom: 15px;
  right: 25px;
  padding: 15px 20px;
  background: #101010;
  border-radius: 10px;
}

.content-area .notifyContainer.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.notifyContainer .notifyContent {
  font-size: 14px;
}

.notifyContainer .notifyContent .notifyMessage {
  color: #fafafa;
}

.notifyContainer .notifyContent .undoBtn {
  color: #0072de;
  padding: 0 15px;
  cursor: pointer;
}

.fancytree-drag-helper:not(.fancytree-drag-helper-custom) {
  visibility: hidden !important;
}

/* start styles dark theme */
body.dark {
  background: #252525;
}

.dark .side-header,
.dark .header-bottom,
.dark .syncMenuTree ul.fancytree-container {
  background-color: #101010;
}

.dark .headerText,
.dark .content-syncing,
.dark .menuTree .fancytree-container span.fancytree-node .fancytree-title,
.dark .SideheaderButton span,
.dark .content-title .viewFolderName,
.dark .content-header .header-function span,
.dark .mainContent .fancytree-plain span.fancytree-node span.fancytree-title,
.dark .mainContent span.fancytree-node span.fancytree-folder span.fancytree-has-children,
.dark .search-header .search-action .edit-search-btn span,
.dark .editBar .headerButton span,
.dark .editBar .editFunc span.pointer {
  color: #fafafa;
}

.dark .mainContent .fancytree-plain span.fancytree-node span.fancytree-title,
.dark .mainContent span.fancytree-node span.fancytree-folder span.fancytree-has-children,
.dark .fancytree-title-container,
.dark .editMode.mainContent ul.fancytree-container > li > span.fancytree-node {
  border-bottom: 1px solid #4d4d4d;
}

.dark .mainContent .fancytree-plain span.fancytree-node .fancytree-title-container span.fancytree-title {
  border: none;
}

.dark .menuTree .fancytree-container > li:first-child > span.fancytree-node span.fancytree-expander {
  background-image: url('/assets/img/internet_pc_ic_bookmarks_new_dark.svg');
}

.dark .menuTree .fancytree-container > li:nth-child(2) > span.fancytree-node span.fancytree-expander {
  background-image: url('/assets/img/internet_pc_ic_tabs 1_dark.svg');
}

.dark .menuTree .fancytree-container > li > .fancytree-exp-e img.fancytree-more-option,
.dark .menuTree .fancytree-container > li > .fancytree-exp-el img.fancytree-more-option {
  content: url('/assets/img/internet_pc_ic_drawer_list_open_dark.svg');
}

.dark .menuTree .fancytree-container > li > .fancytree-exp-c img.fancytree-more-option,
.dark .menuTree .fancytree-container > li > .fancytree-exp-cl img.fancytree-more-option {
  content: url('/assets/img/internet_pc_ic_drawer_list_shrink_dark.svg');
}

.dark .SideheaderButton figure .fit-to-screen {
  content: url('/assets/img/internet_pc_ic_fittoscreen_dark.svg');
}

.dark .SideheaderButton figure .ic-settings {
  content: url('/assets/img/internet_pc_ic_settings_dark.svg');
}

.dark .menuTree ul.fancytree-container ul span.fancytree-node:hover,
.dark .menuTree ul.fancytree-container ul span.fancytree-node.ui-state-active,
.dark .SideheaderButton:hover {
  background: rgba(255, 255, 255, 0.05);
}

.dark .mainContent ul.fancytree-container > li > span.fancytree-node:hover,
.dark .mainContent ul.fancytree-container > li > span.fancytree-node.fancytree-selected,
.dark .mainContent ul.fancytree-container > li > span.fancytree-node.ui-state-active {
  background: #3c3c3c;
}

.dark .menuContent,
.dark .mainContent {
  background: #171717;
}

.dark .menuContent .not-imported span:first-child,
.dark .search-results .no-result span {
  color: #cccccc;
}

.dark .content-header .header-function .search-btn img {
  content: url('/assets/img/internet_pc_ic_search_dark.svg');
}

.dark .content-header .header-function .add-bookmark-btn img {
  content: url('/assets/img/internet_pc_ic_add_dark.svg');
}

.dark .content-header .header-function .chrome-import-btn img {
  content: url('/assets/img/internet_pc_ic_import_dark.svg');
}

.dark .headerButton.back figure img {
  content: url('/assets/img/internet_pc_ic_back_dark.svg');
}

.dark .setting .more-icon img,
.dark .content-header .header-function #more-options img,
.dark .content-area .editBar .editFunc span.more img {
  content: url('/assets/img/internet_pc_ic_more_dark.svg');
}

.dark .search-header .search-action .form-control span img {
  content: url('/assets/img/internet_pc_ic_search_dark.svg');
}

.dark .search-header .search-action .edit-search-btn img {
  content: url('/assets/img/internet_pc_ic_edit_dark.svg');
}

.dark .search-header,
.dark .content-area .editBar {
  background: #252525;
}

.dark .search-header .form-control input {
  background: rgba(250, 250, 250, 0.3);
  color: #fafafa;
  border: none;
}

.dark .menuContent .not-imported span:last-child,
.dark .search-results .result-category {
  color: #999999;
}

.dark .context-menu-list {
  background: #3c3c3c;
}

.dark .context-menu-item.context-menu-icon {
  background: #3c3c3c;
  color: #fafafa;
}

.dark li.context-menu-item:focus,
.dark li.context-menu-item:hover {
  background: #4f4f4f;
}

.dark .menuTree ul.fancytree-container ul span.fancytree-node:hover,
.dark .menuTree ul.fancytree-container ul span.fancytree-node.ui-state-active,
.dark .mainContent ul.fancytree-container > li:hover,
.dark .mainContent ul.fancytree-container > li:has(span.fancytree-node.fancytree-selected),
.dark .mainContent.normalMode ul.fancytree-container > li:has(span.fancytree-node.fancytree-active.fancytree-focused) {
  background: #3c3c3c;
}

.dark .editBar .editFunc span.deleteItem img {
  content: url('/assets/img/internet_pc_ic_Command_bar_delete_dark.svg');
}

.dark .editBar .editFunc span.selectItems img {
  content: url('/assets/img/internet_pc_ic_Command_bar_deselect_dark.svg');
}

.dark .editBar .editFunc span.selectItems.allSelected img {
  content: url('/assets/img/internet_pc_ic_Command_bar_select all_dark.svg');
}

.dark .editMode.mainContent .fancytree-plain span.fancytree-node span.fancytree-title {
  width: calc(100% - 93px);
  border-bottom: none;
}
/*end styles dark theme*/
