#si-auto-fill {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 12px !important;
  position: absolute !important;
  z-index: 2147483647 !important;
  visibility: visible !important;
  overflow: hidden !important;
  background: #ffffff !important;
  border: 0.75px solid rgba(204, 204, 204, 0.15) !important;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.04), 0 2px 8px 0 rgba(0, 0, 0, 0.15) !important;
  display: none;
}

#si-auto-fill iframe {
  width: 100% !important;
  height: 100% !important;
  border: 0 !important;
  min-height: initial !important;
}

.si-ext-auto-fill-btn {
  position: absolute !important;
  z-index: 2147483647 !important;
  width: 24px !important;
  height: 24px !important;
  max-height: 100% !important;
  opacity: 1 !important;
  display: block !important;
  transform: none !important;
  cursor: pointer !important;
}

.si-ext-auto-fill-btn.disabled {
  opacity: 0.6 !important;
}

#si-password-notification {
  width: 340px;
  height: 200px;
  position: fixed;
  background: #fcfcfc;
  background-color: #fcfcfc;
  border-radius: 16px;
  padding: 5px;
  bottom: 20px;
  right: 16px;
  z-index: 2147483647 !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16), 0 13px 32px rgba(0, 0, 0, 0.12);
}

#si-password-notification iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  min-height: initial;
}

.si-slide-in-right {
  animation: si-slide-in-right 0.7s !important;
}

@keyframes si-slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  70% {
    transform: translateX(-40%);
    opacity: 0.8;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#si-toast {
  position: fixed;
  bottom: 30px;
  z-index: 2000;
  width: 100%;
}

#si-toast .si-toast-content {
  background-color: #f7f7f7;
  border-radius: 19px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 2.5px 8px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  max-width: 90%;
  line-height: 38px;
  visibility: hidden;
  font-size: 16px;
  color: #252525;
  text-align: center;
  padding: 0 18px;
  margin: 5px auto;
  width: fit-content;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#si-toast .si-toast-content.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#si-toast .si-toast-content.show.hide {
  -webkit-animation: fadeout 0.5s;
  animation: fadeout 0.5s;
}
