!! Transparency (0-1):
st.alpha: 0.9
! st.alphaOffset: 1.0

!! Set a default font and font size as below:
st.font: JetBrainsMono Nerd Font-11;

! st.termname: st-256color
! st.borderpx: 2

!! Set the background, foreground and cursor colors as below:

!! DWM
*.foreground: #F8F8F2
*.background: #282A36
*.cursorColor: white
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #0087ff
*.color12:    #0087ff
*.color5:     #FF79C6
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

! ------------------------------------------------------------------------------
! xterm theme
! xrdb ~/.Xresources - load file
! xrdb -merge ~/.Xresources - reload file
! ------------------------------------------------------------------------------

xterm*faceName: JetBrainsMono Nerd Font
xterm*faceSize: 12
XTerm*cursorBlink: false
xterm*selectToClipboard: true
xterm*loginShell: true
xterm*vt100*geometry: 100x30
xterm*saveLines: 50000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-256color
xterm*eightBitInput: false
xterm*.foreground: #F8F8F2
xterm*.background: #282A36
xterm*.color0:     #000000
xterm*.color8:     #4D4D4D
xterm*.color1:     #FF5555
xterm*.color9:     #FF6E67
xterm*.color2:     #50FA7B
xterm*.color10:    #5AF78E
xterm*.color3:     #F1FA8C
xterm*.color11:    #F4F99D
xterm*.color4:     #BD93F9
xterm*.color12:    #CAA9FA
xterm*.color5:     #FF79C6
xterm*.color13:    #FF92D0
xterm*.color6:     #8BE9FD
xterm*.color14:    #9AEDFE
xterm*.color7:     #BFBFBF
xterm*.color15:    #E6E6E6
xterm*boldMode: false
xterm*colorBDMode: true
xterm*colorBD: #E6E6E6

