/* Floating Icon */
.syncPage.syncing .bookmark-floating-icon {
  visibility: hidden;
}
.bookmark-floating-icon {
  font-weight: 100;
  position: fixed;
  right: 25px;
  bottom: 25px;
  border-radius: 50%;
  z-index: 1010;
  width: 56px;
  cursor: pointer;
  animation: popup 0.4s cubic-bezier(0.54, 1.29, 0.54, 1.29);
  height: 56px;
  padding: 10px;
  background: url('/assets/img/internet_ic_fab.png') center / 20px #737ae6 no-repeat;
  color: white !important;
  transition: all 0.05s;
}

.bookmark-floating-icon:active {
  transform: translateX(1px) translateY(1px);
  outline: none;
}

.bookmark-floating-icon.hidden {
  opacity: 0;
  transform: scale(0.1);
  cursor: not-allowed;
  pointer-events: none;
  transition: transform 0.2s cubic-bezier(0.54, 1.29, 0.54, 1.29), opacity 0.1s 0.15s;
}
