/* CSS Tree menu styles */
ol.tree {
  overflow: auto;
  height: 143px;
  color: #252525;
  font-size: 14px;
  padding: 0 0;
  margin: 0;
}

.tree li {
  position: relative;
  list-style: none;
  margin: 10px 0 -10px 0;
}

ol.tree li:first-child {
  margin-top: 0;
}

.tree li.folder {
  background-position-x: 0px;
  background-position-y: 12px;
  background-repeat: no-repeat;
  transition: background 0.2s cubic-bezier(0.54, 1.29, 0.54, 1.29);
  background-image: url('/assets/img/internet_btn_radio_off.png');
}

.tree li.folder.selected {
  background-image: url('/assets/img/internet_btn_radio_on.png');
}

.tree li.folder > label {
  cursor: pointer;
  height: 24px;
  padding-left: 30px;
  display: inline-block;
  padding-top: 5px;
  font-size: 13px;
  position: relative;
  background-image: url('/assets/img/internet_list_folder_line.png');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position-y: 7px;
  width: 70%;
  min-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 6px;
}

.tree li input[type='checkbox']:focus + label {
  font-weight: bold;
}
.tree li input[type='checkbox'] {
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 20px;
  width: 22px;
  display: inline;
}

.tree li input[type='checkbox'] ~ ol {
  min-height: 22px;
  margin-top: -20px;
  padding-top: 6px;
  min-width: 181px;
}

ol.tree--inner {
  padding-left: 0px;
}

/*

.tree li input[type='checkbox'] ~ ol:empty {
  background-image: url("/assets/img/internet_list_folder_line.png");
}

.tree li input[type='checkbox']:checked ~ ol {
  background-image: url("/assets/img/internet_list_folder_line.png");
}

.tree li input[type='checkbox']:checked ~ ol:empty {
  background-image: url("/assets/img/internet_list_folder_line.png");
}

*/

.tree li input[type='checkbox'] ~ ol > li:first-child {
  padding-top: 2px;
  margin-top: 17px;
}

.tree li input[type='checkbox']:checked ~ ol > li {
  display: block;
  align-items: center;
  justify-content: flex-start;
}
