/* Imported Folder */

.bookmark_folder.imported {
  order: -1;
  width: 352px;
  height: 46px;
  justify-content: space-between;
}

.bookmark_folder_text {
  font-family: SegoeUI-Semibold;
  color: #000000;
  font-size: 14px;
}

.bookmark_folder.imported .bookmark_folder_text::after {
  content: attr(data-last-import-time);
  display: block;
  font-size: 10px;
  color: grey;
  position: absolute;
  padding-top: 3px;
}

.syncPage.syncing {
  cursor: not-allowed;
}

.import-button {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 98px;
  height: 30px;
}

.import-text {
  padding-left: 22px;
  align-items: center;
  text-transform: uppercase;
  font-family: SegoeUI-Semibold;
  color: #000000;
  font-size: 12px;
}

.import-arrow {
  margin-left: 8px;
}

.import-info-img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
