/* Modals */
.modal-hider {
  position: absolute;
  left: -99999em;
}

.modal {
  display: none;
}

.vanilla-modal .modal {
  display: block;
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  opacity: 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.vanilla-modal .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.vanilla-modal.modal-visible .modal {
  z-index: 99;
  opacity: 1;
  transition: opacity 0.2s;
}

.modal-inner {
  position: relative;
  min-width: 322px;
  background: #fafafa;
  border: 1px solid #a8a8a8;
  border-radius: 15px;
  box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.2);
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
}

.modal-inner .message {
  padding: 5px 0;
}

.modal-inner .error {
  color: #ff1313 !important;
}

.modal-visible .modal-inner {
  z-index: 100;
  opacity: 1;
  padding: 15px 25px;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

.modal-title {
  cursor: default;
  margin-top: 0;
  font-size: 18px;
  font-family: SegoeUI-Semibold;
  padding: 4px 0 2px 0;
  margin-bottom: 18px;
}

.modal-inner-content {
  margin: 10px 0 0;
  min-width: 272px;
  min-height: 65px;
  font-size: 14px;
  font-family: SegoeUI;
}

.modal-button-area {
}

.modal-button-area .modal-button {
  padding: 8.5px 0;
  border: none;
  border-radius: 0;
  margin: 0 15px;
}

.modal-inner-buttons {
  display: flex;
  flex-direction: column;
}

.modal-inner-buttons .modal-button {
  flex: 1;
}

.modal-button {
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  background: initial;
  color: #676ecf;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
}

/* Don't show outline when hovered */
.modal-button:hover {
  outline: none;
}

#createFolder-path {
  overflow-wrap: break-word;
}

.createFolder-button {
  color: #676ecf;
  font-size: 12px;
}

.tree .form-group {
  display: inline-block;
  margin: 0 2em;
  margin-bottom: -17px;
}

.tree .form-group input {
  font-size: 1em;
  padding: 0;
  margin-bottom: -3px;
}

.location {
    margin-top: 15px;
}

.location-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.location-text span {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: bold;
}

.location-text hr {
  width: 100%;
  margin-left: 10px;
  color: #d5d5d5;
  flex: 1;
}

#editBookmark-path {
  font-size: 12px;
  display: none;
  margin-top: 10px;
}

#editBookmark-path.error {
  display: block;
}

#importOptionDescriptionArea {
  height: 36px;
  display: flex;
  justify-content: left;
}

.importOptionText {
  font-size: 14px;
  font-family: SegoeUI;
  color: #252525;
  margin: 0;
}

.radioItem {
  margin-top: 10px;
  display: flex;
  justify-content: left;
  height: 20px;
}

#importOptionSave {
  min-width: 88px;
  height: 36px;
  display: flex;
  justify-content: center;
  outline-style: none;
  margin-right: 10px;
}

#importOptionCancel {
  min-width: 88px;
  height: 36px;
  display: flex;
  justify-content: center;
  outline-style: none;
  margin-right: 15px;
}

/* Add Modal styles */
.app-modal-container {
  z-index: 9999;
  position: fixed;
  border: 1px solid black;
  min-width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.app-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0 24px;
  margin: 0 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 360px;
}

.app-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.app-modal-title {
  margin: 0;
  font-size: 18px;
  font-family: SegoeUI-Semibold;
  text-align: left;
  color: #000000;
  font-weight: 600;
}

.form-control {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.form-control label {
  display: block;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  font-family: 'SegoeUI';
  text-align: left;
  color: #3E91FF;
}

span.location-text {
  color: #8c8c8c;
}

.form-control input,
.form-control select {
  height: 2em;
}

.form-control input {
  border: none;
  border-bottom: 1px solid #8c8c8c;
  width: 100%;
  height: 36px;
  padding: 4px;
  font-size: 15px;
  border-radius: 2px;
  outline: none;
}

.form-control input:focus {
  border-bottom: 2px solid #252525;
}

.form-control.error input {
  border-color: #d9534f;
}

.form-control.error input::placeholder {
  color: #d9534f;
}

.form-control select {
  width: 100%;
  background: #fff;
  font-size: 1em;
  border-radius: 2px;
  height: 2.4em;
  outline: none;
  font-family: 'SegoeUI';
}

.form-control:last-child {
  margin-bottom: 0px;
}

.app-modal-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 72px; */
  margin-bottom: 20px;
}

.app-modal-controls.edit-modal,
.app-modal-controls.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-modal-controls.create-modal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modal-control {
  border: none;
  text-transform: uppercase;
  padding: 0;
  background: #d4d4d4;
  font-size: 14px;
  width: 88px;
  height: 36px;
  cursor: pointer;
  border-radius: 3px;
  font-family: 'SegoeUI-Semibold';
}

.modal-control.edit-text {
  margin-right: 46px;
}

.modal-control.primary {
  margin-right: 10px;
}

#edit-modal-primary {
  margin-right: 0px;
}

.modal-control,
.modal-control:hover,
.modal-control:focus {
  outline: 0;
}

.modal-control:hover {
  background: #bebebe;
}

.modal-control:focus {
  background: #aaaaaa;
}

.modal-control.disabled {
  opacity: 0.4;
}

.modal-control.primary {
  background: #737ae6;
  color: #fff;
}

.modal-control.primary:focus {
  background: #545cd2;
}

.modal-control.primary.disabled {
  opacity: 0.4;
}

.modal-control.primary:hover {
  background: #656de3;
}

.modal-close {
  background: none;
  cursor: pointer;
}

.modal-close:hover {
  background: rgba(0, 0, 0, 0.1);
}

.modal-close:focus {
  background: rgba(0, 0, 0, 0.3);
}

/* Edit modal styles */

#new-folder-control {
  width: 122px;
}

.folder-parent {
  color: #252525;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.bookmarks-tree {
    height: 200px;
    overflow: auto;
    transform: translateZ(0);
    background: #fff;
}

.tree-title {
  font-size: 14px;
  height: 36px;
}

.tree-title > span {
  line-height: 36px;
}

.leaf-title {
  display: flex;
  align-items: center;
}

.leaf-title.selectDisabled,
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.leaf-title.selected .title-info {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.leaf-title,
.icon {
  font-size: 15px;
  cursor: pointer;
  color: #252525;
  height: 52px;
}

.leaf-title .icon,
.tree-new-folder .icon {
  display: none;
}

.leaf-title .folder-icon,
.tree-new-folder .folder-icon {
  height: 20px;
  width: 36px;
  margin-right: 6px;
  background-size: contain;
  background-position: center;
  opacity: 0.7;
}

.leaf-title .folder-icon.open,
.tree-new-folder .folder-icon.open {
  background-image: url('/assets/img/internet_pc_ic_popup_openfolder2.svg');
}

.leaf-title .folder-icon.close {
  background-image: url('/assets/img/internet_pc_ic_popup_closefolder2.svg');
}

.leaf-title .folder-icon.disabled {
  visibility: hidden;
}

.tree > .leaf > .leaf-title > .folder-icon {
  width: 20px;
}

.tree > .leaf > .leaf-title > .folder-icon.open {
  background-image: url('/assets/img/internet_pc_ic_openfolder.svg');
}

.tree > .leaf > .leaf-title > .folder-icon.close {
  background-image: url('/assets/img/internet_pc_ic_closefolder.svg');
}

.leaf-title > .title-info {
  height: 52px;
  line-height: 52px;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

.icon {
  fill: #252525;
}

.child-container {
  position: relative;
  margin-left: 10px;
}

.create-folder {
  display: flex;
  align-items: center;
  height: 52px;
  line-height: 52px;
  cursor: pointer;
}

.create-folder img {
  width: 20px;
  vertical-align: middle;
  margin-right: 16px;
}

.create-folder .create-folder-text {
  font-size: 16px;
  color: #252525;
}

.create-modal>button,
.edit-modal>button,
.signout-buttons>button,
.modal-footer>button {
  position: relative;
  width: 50%;
  padding: 0 10px;
  display: inline-block;
  border: none;
  background: none;
  outline: none;
  margin: 0;
  color: #010101;
  cursor: pointer;
  font-size: 17px;
  font-family: SegoeUI-Semibold;
  font-weight: 600;
}

.create-modal>button:first-child::after,
.edit-modal>button:first-child::after,
.signout-buttons>button:first-child::after,
.modal-footer>button:first-child::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 20px;
  background: #E6E6E6;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
}

/* Import modal styles */

.import-options-title {
  font-size: 14px;
  color: #252525;
  line-height: 36px;
}

.import-option {
  height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.import-option input[type='radio'] {
  margin: 0;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  outline: none;
  /* visibility: hidden; */
}

.import-radio {
  content: '';
  position: absolute;
  left: 20px;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url('/assets/img/internet_btn_radio_off.png');
  background-repeat: no-repeat;
  background-size: cover;
}

input[type='radio']:checked + .import-radio {
  background-image: url('/assets/img/internet_btn_radio_on.png');
}

.import-option label {
  font-size: 14px;
  color: #252525;
}

#import-modal-container .app-modal-header {
  height: 52px;
}

#import-modal-container .app-modal-controls {
  justify-content: center;
  height: 72px;
  margin-bottom: 0;
}

/* import popup modal */
.import-check-area {
  margin-top: 10px;
  height: 20px;
}

.import-check-border {
  width: 20px;
  height: 20px;
  border: 1px solid #949494;
  margin-right: 10px;
}

#import-check-button {
  visibility: visible;
}

.import-check-area {
  display: flex;
  justify-content: left;
  align-content: center;
}

.modal-import-button-area {
  margin-top: 17px;
}

.import-popup-button {
  display: flex;
  align-items: center;
  align-content: center;
  outline: none;
  margin-bottom: 25px;
  cursor: pointer;
}

.import-popup-button:nth-child(2) {
  margin-bottom: 12px;
}

.import-popup-button .radio-icon {
  width: 32px;
  height: 32px;
}

.impot-button-text {
  margin-left: 16px;
}

.import-button-title {
  display: flex;
  justify-content: left;
  align-content: center;
  font-size: 16px;
  font-weight: 400;
  color: #010101;
}

.import-button-desc {
  display: flex;
  justify-content: left;
  align-content: center;
  font-size: 12px;
  font-weight: 400;
  color: #8c8c8c;
}

#import-popup-cancel {
  display: none;
}

.import-popup-button:hover,
.import-popup-button:focus {
  border-color: #656de3;
  outline-style: none;
}

.import-popup-button.selected {
  border-color: #545cd2;
}

.import-description {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 14px;
  color: #252525;
  height: 36px;
  margin-bottom: 10px;
}

.import-description.import-help-text {
  height: 46px;
}

.do-not-show-container {
  height: 20px;
  display: flex;
  /* BUG: flex-direction: row, removes label from DOM */
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.do-not-show-title {
  margin-left: 10px;
  font-size: 14px;
  color: #252525;
}

.do-not-show-title:hover {
  cursor: pointer;
}

#import-options-modal-container .app-modal-controls {
  justify-content: flex-end;
}

.import-modal-footer {
  margin-bottom: 30px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.import-modal-footer button {
  padding: 0 10px;
  display: inline-block;
  border: none;
  background: none;
  outline: none;
  margin: 0;
  color: #010101;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Checkbox style */
.app-checkbox {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #949494;
  border-radius: 2px;
  cursor: pointer;
}

.app-checkbox img {
  position: relative;
  left: -1px;
  top: -1px;
}

.tree-new-folder {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tree-new-folder input {
  height: 50px;
  width: calc(100% - 62px);
  margin: 0 10px;
  border: none;
  border-bottom: 1px solid #252525;
  outline: none;
  display: flex;
  font-size: 15px;
  flex-grow: 1;
}

.tree-new-folder input.error {
  border-bottom: 1px solid #d9534f;
}

.tree-new-folder .error-text {
  margin-left: 52px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.import-notify-description {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 14px;
  color: #252525;
  height: 36px;
  margin-bottom: 20px;
}

.error-text {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 22px;
  font-size: 12px;
  font-family: SegoeUI;
  color: #f3514d;
}

/* sign out modal */
#signout-modal-container .app-modal {
  width: 360px;
}

#signout-modal-container .app-modal-header {
  display: none;
}

#signout-modal-container .app-modal-content {
  padding: 24px 4px 0 4px;
}

.signout-title {
  font-size: 20px;
  font-family: 'SegoeUI';
  margin-bottom: 12px;
  display: inline-block;
}

.app-modal-content .signout-notice {
  font-size: 14px;
  margin-bottom: 12px;
}

.app-modal-content > .signout-notice:last-child {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.app-modal-content > .signout-notice .notice-content > span {
  display: block;
  font-size: 14px;
}

.app-modal-content > .signout-notice .notice-content > span:last-child {
  color: #c8c8c8;
  font-size: 12px;
}

.signout-notice .samsung-cloud-img {
  margin-right: 15px;
}

.signout-notice .samsung-cloud-img img {
  width: 36px;
  height: 36px;
}

.signout-buttons {
  width: 100%;
}

/* start style dark theme */
.dark .app-modal,
.dark .form-control input,
.dark .bookmarks-tree,
.dark .tree-new-folder input {
  background: #252525;
  color: #fafafa;
}

.dark .app-modal-title,
.dark .leaf-title,
.dark .create-folder .create-folder-text,
.dark .app-modal-content .folder-parent {
  color: #fafafa;
}

.dark .form-control input,
.dark .tree-new-folder input {
  border-bottom: 1px solid #fafafa;
}

.dark span.location-text {
  color: #999999;
}

.dark .tree > .leaf > .leaf-title > .folder-icon.open {
  background-image: url("/assets/img/internet_pc_ic_openfolder_dark.svg");
}

.dark .tree > .leaf > .leaf-title > .folder-icon.close {
  background-image: url("/assets/img/internet_pc_ic_closefolder_dark.svg");
}

.dark .leaf-title .folder-icon.open {
  background-image: url("/assets/img/internet_pc_ic_popup_openfolder2_dark.svg");
}

.dark .leaf-title .folder-icon.close {
  background-image: url("/assets/img/internet_pc_ic_popup_closefolder2_dark.svg");
}

.dark .app-modal-controls button {
  color: #fafafa;
}

.dark .import-description,
.dark .import-button-title,
.dark .import-notify-description,
.dark .import-modal-footer button {
  color: #fafafa;
}

.dark .import-button-desc {
  color: #999999;
}
/*end styles dark theme*/