[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/huwr/GDrive]
row=0
col=2

[/home/huwr/Pobrane]
row=0
col=3

[/home/huwr/OneDrive]
row=1
col=1

[/home/huwr/Obrazy]
row=0
col=0

[/home/huwr/Wideo]
row=1
col=2

[/home/huwr/Muzyka]
row=1
col=3

[/home/huwr/Dokumenty]
row=1
col=0

[/home/huwr/Mega]
row=0
col=1

